In [1]:
import pandas as pd
import yfinance as yf

In [2]:
# here i am downloading the dataset from yahoo finance and storing it
sp500 = yf.download("^GSPC", start="2005-01-01")

[*********************100%***********************]  1 of 1 completed

In [3]:
sp500.head()

Price             Close         High          Low         Open      Volume
Ticker            ^GSPC        ^GSPC        ^GSPC        ^GSPC       ^GSPC
Date
2005-01-03  1202.079956  1217.800049  1200.319946  1211.920044  1510800000
2005-01-04  1188.050049  1205.839966  1185.390015  1202.079956  1721000000
2005-01-05  1183.739990  1192.729980  1183.719971  1188.050049  1738900000
2005-01-06  1187.890015  1191.630005  1183.270020  1183.739990  1569100000
2005-01-07  1186.189941  1192.199951  1182.160034  1187.890015  1477900000

In [4]:
sp500.info()

<class 'pandas.DataFrame'>
DatetimeIndex: 5300 entries, 2005-01-03 to 2026-01-27
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   (Close, ^GSPC)   5300 non-null   float64
 1   (High, ^GSPC)    5300 non-null   float64
 2   (Low, ^GSPC)     5300 non-null   float64
 3   (Open, ^GSPC)    5300 non-null   float64
 4   (Volume, ^GSPC)  5300 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 248.4 KB

In [6]:
# saving the original data set
sp500.to_csv("../data/raw/sp500_raw.csv")